{% extends 'news/base.html'%}
{%load static%}
{% block title %} Foydalanuvchi parolini o'zgartirish saxifasi{% endblock title%}

{% block content%}
<h2>Parolni tiklash</h2>
<p>Iltimos ,parolni tiklash uchun formani to'ldiring</p>
{%if validlink%}
    <p>Iltimos yangi parolni 2 marta kiriting</p>
    <form method="post">"{%csrf_token%}
    {{form.as_p}}
    <button type="submit" class="btn-primary">Jo'natish</button>
    </form>
    {%else%}
        <p>siz noto'g'ri linkdan foydalandingiz,u avval foydalanilgan yoki muddati yugagan bo'lishligi mumkin !</p>
{%endif%}
{% endblock content%}